@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Baskerville", serif;
}

body{
  background-color: #1f242d;

}

a{
  color: white;
  text-decoration: none;
}

.navbar{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 25px 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navbar .logo{
  font-size: 30px;
  font-weight: bolder;
}

.navbar ul{
  display: flex;
}

.navbar ul li{
  list-style: none;
  margin-left: 35px;
}

.navbar ul li a{
  font-size: 20px;
  font-weight: 500;
  transition: 0.5s;
}
.navbar ul li a:hover,
.navbar ul li.active a{
  color: rgb(9, 93, 172);
}

.content{
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 60px 9% 0;
  color: white;
}

.content-info h1{
  font-size: 55px;
}

.content-info h2{
  font-size: 32px;
  margin-top: -10px;
}

.content-info p{
  font-size: 16px;
  margin: 10px 0 25px;
}

.content-info .main-btn{
  display: flex;
  align-items: center;
}

.but-on{
  display: inline-block;
  padding: 10px 30px;
  background: rgb(9, 93, 172);
  border: 2px solid rgb(9, 93, 172);
  border-radius: 40px;
  box-shadow: 0 0  10px rgb(9, 93, 172);
  font-size: 16px;
  font-weight: 600;
  color: #1f242d;
  transition: 0.5s;
}

.but-on:hover{
  background: transparent;
  color: rgb(9, 93, 172);
  box-shadow: none;
}

.content-info .social-media{
  margin-left: 20px;
}

.content-info .social-media a{
  display: inline-flex;
  padding: 8px;
  border: 2px solid rgb(9, 93, 172);
  border-radius: 50%;
  font-size: 20px;
  color: rgb(9, 93, 172);
  margin:  0 8px;
  transition: 0.5s;
}

.content-info .social-media a:hover{
  background: rgb(9, 93, 172);
  color: #1f242d;
  box-shadow: 0 0  10px;
}