@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Baskerville", serif;
}

body{
  background-color: #1f242d;
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(https://plus.unsplash.com/premium_photo-1720287601300-cf423c3d6760?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
}

a{
  color: white;
  text-decoration: none;
}

.navbar{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 25px 9%;
  display: flex;
  
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navbar .logo{
  font-size: 30px;
  font-weight: bolder;
  text-transform: uppercase;
  text-decoration: none;
}

.navbar .logo:hover{
  color: rgb(218, 143, 143);
}

.navbar ul{
  display: flex;
  gap: 35px;
}

.navbar ul li{
  list-style: none;
  margin-left: 35px;
  transition: 1s;
  border: 2px solid rgb(5, 70, 92);
  padding: 5px;
  border-radius: 5px;
  border-width: 1px;
}

.navbar ul li:hover{
  background-color: rgb(100, 103, 105);
  color: steelblue;
}